In [42]:
pip install ratelimiter

Requirement already satisfied: ratelimiter in c:\users\s.subramanian2\anaconda3\envs\work1\lib\site-packages (1.2.0.post0)
Note: you may need to restart the kernel to use updated packages.

In [43]:
import pandas as pd
import geopandas as gpd
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

In [44]:
locator = Nominatim(user_agent="myGeocoder")
location = locator.geocode("Champ de Mars, Paris, France")

In [45]:
print(location.address)
print("Latitude = {}, Longitude = {}".format(location.latitude, location.longitude))

Champ de Mars, Quai Jacques Chirac, Quartier du Gros-Caillou, Paris 7e Arrondissement, Paris, Île-de-France, France métropolitaine, 75007, France
Latitude = 48.85614465, Longitude = 2.297820393322227

In [46]:

df = pd.read_csv("1.data.csv")
df.head()

,GLOBAL_SITE_ID,SITE_NAME,SITE_TYPE,STREET_ADDRESS,CITY,STATE,POSTAL_CODE,COUNTRY
0,10000253,1241 BOYLSTON ST,Shell In Network Retail Site,1241 BOYLSTON ST,BOSTON,Massachusetts,02215-3501,USA
1,10000254,1975 MAIN ST,Shell In Network Retail Site,1975 MAIN ST,TEWKSBURY,Massachusetts,01876-2176,USA
2,10000256,190 AMHERST ST,Shell In Network Retail Site,190 AMHERST ST,NASHUA,New Hampshire,03064-1307,USA
3,10000257,915 WALTHAM ST,Shell In Network Retail Site,915 WALTHAM ST,LEXINGTON,Massachusetts,02421-8001,USA
4,10000258,245 EDDY RD,Shell In Network Retail Site,245 EDDY RD,MANCHESTER,New Hampshire,03102-3232,USA

In [47]:
#df['ADDRESS'] = df['COMPANY'] + " " + df['CITY'] + " " +  df['COUNTRY']
df['ADDRESS'] = df['STREET_ADDRESS'] + " " + df['CITY'] + " " + df['STATE'] + " " + df['POSTAL_CODE']
df.head()

,GLOBAL_SITE_ID,SITE_NAME,SITE_TYPE,STREET_ADDRESS,CITY,STATE,POSTAL_CODE,COUNTRY,ADDRESS
0,10000253,1241 BOYLSTON ST,Shell In Network Retail Site,1241 BOYLSTON ST,BOSTON,Massachusetts,02215-3501,USA,1241 BOYLSTON ST BOSTON Massachusetts 02215-3501
1,10000254,1975 MAIN ST,Shell In Network Retail Site,1975 MAIN ST,TEWKSBURY,Massachusetts,01876-2176,USA,1975 MAIN ST TEWKSBURY Massachusetts 01876-2176
2,10000256,190 AMHERST ST,Shell In Network Retail Site,190 AMHERST ST,NASHUA,New Hampshire,03064-1307,USA,190 AMHERST ST NASHUA New Hampshire 03064-1307
3,10000257,915 WALTHAM ST,Shell In Network Retail Site,915 WALTHAM ST,LEXINGTON,Massachusetts,02421-8001,USA,915 WALTHAM ST LEXINGTON Massachusetts 02421-8001
4,10000258,245 EDDY RD,Shell In Network Retail Site,245 EDDY RD,MANCHESTER,New Hampshire,03102-3232,USA,245 EDDY RD MANCHESTER New Hampshire 03102-3232

In [48]:
from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(locator.geocode, min_delay_seconds=1)
df['location'] = df['ADDRESS'].apply(geocode)
df['point'] = df['location'].apply(lambda loc: tuple(loc.point) if loc else None)

In [49]:
df.head()

,GLOBAL_SITE_ID,SITE_NAME,SITE_TYPE,STREET_ADDRESS,CITY,STATE,POSTAL_CODE,COUNTRY,ADDRESS,location,point
0,10000253,1241 BOYLSTON ST,Shell In Network Retail Site,1241 BOYLSTON ST,BOSTON,Massachusetts,02215-3501,USA,1241 BOYLSTON ST BOSTON Massachusetts 02215-3501,"(1241, Boylston Street, Back Bay, Boston, Suff...","(42.34552821297594, -71.09461423853004, 0.0)"
1,10000254,1975 MAIN ST,Shell In Network Retail Site,1975 MAIN ST,TEWKSBURY,Massachusetts,01876-2176,USA,1975 MAIN ST TEWKSBURY Massachusetts 01876-2176,"(Shell, 1975, Main Street, Tewksbury, Middlese...","(42.589596799999995, -71.20324205951535, 0.0)"
2,10000256,190 AMHERST ST,Shell In Network Retail Site,190 AMHERST ST,NASHUA,New Hampshire,03064-1307,USA,190 AMHERST ST NASHUA New Hampshire 03064-1307,"(Shell, 190, Amherst Street, Ward 4, Nashua, H...","(42.77498, -71.49009239500761, 0.0)"
3,10000257,915 WALTHAM ST,Shell In Network Retail Site,915 WALTHAM ST,LEXINGTON,Massachusetts,02421-8001,USA,915 WALTHAM ST LEXINGTON Massachusetts 02421-8001,"(Waltham Street, Lexington, Middlesex County, ...","(42.43816, -71.234585, 0.0)"
4,10000258,245 EDDY RD,Shell In Network Retail Site,245 EDDY RD,MANCHESTER,New Hampshire,03102-3232,USA,245 EDDY RD MANCHESTER New Hampshire 03102-3232,"(245, Eddy Road, Rimmon Heights, Manchester, H...","(43.00012675183454, -71.47616471175226, 0.0)"

In [50]:

df['point'][0][0]

42.34552821297594

In [51]:
df[['latitude', 'longitude', 'altitude']] = pd.DataFrame(df['point'].tolist(), index=df.index)
df.head()

,GLOBAL_SITE_ID,SITE_NAME,SITE_TYPE,STREET_ADDRESS,CITY,STATE,POSTAL_CODE,COUNTRY,ADDRESS,location,point,latitude,longitude,altitude
0,10000253,1241 BOYLSTON ST,Shell In Network Retail Site,1241 BOYLSTON ST,BOSTON,Massachusetts,02215-3501,USA,1241 BOYLSTON ST BOSTON Massachusetts 02215-3501,"(1241, Boylston Street, Back Bay, Boston, Suff...","(42.34552821297594, -71.09461423853004, 0.0)",42.345528,-71.094614,0.0
1,10000254,1975 MAIN ST,Shell In Network Retail Site,1975 MAIN ST,TEWKSBURY,Massachusetts,01876-2176,USA,1975 MAIN ST TEWKSBURY Massachusetts 01876-2176,"(Shell, 1975, Main Street, Tewksbury, Middlese...","(42.589596799999995, -71.20324205951535, 0.0)",42.589597,-71.203242,0.0
2,10000256,190 AMHERST ST,Shell In Network Retail Site,190 AMHERST ST,NASHUA,New Hampshire,03064-1307,USA,190 AMHERST ST NASHUA New Hampshire 03064-1307,"(Shell, 190, Amherst Street, Ward 4, Nashua, H...","(42.77498, -71.49009239500761, 0.0)",42.774980,-71.490092,0.0
3,10000257,915 WALTHAM ST,Shell In Network Retail Site,915 WALTHAM ST,LEXINGTON,Massachusetts,02421-8001,USA,915 WALTHAM ST LEXINGTON Massachusetts 02421-8001,"(Waltham Street, Lexington, Middlesex County, ...","(42.43816, -71.234585, 0.0)",42.438160,-71.234585,0.0
4,10000258,245 EDDY RD,Shell In Network Retail Site,245 EDDY RD,MANCHESTER,New Hampshire,03102-3232,USA,245 EDDY RD MANCHESTER New Hampshire 03102-3232,"(245, Eddy Road, Rimmon Heights, Manchester, H...","(43.00012675183454, -71.47616471175226, 0.0)",43.000127,-71.476165,0.0

In [52]:
df.columns

Index(['GLOBAL_SITE_ID', 'SITE_NAME', 'SITE_TYPE', 'STREET_ADDRESS', 'CITY',
       'STATE', 'POSTAL_CODE', 'COUNTRY', 'ADDRESS', 'location', 'point',
       'latitude', 'longitude', 'altitude'],
      dtype='object')

In [53]:
df = df.drop(['GLOBAL_SITE_ID', 'SITE_NAME', 'SITE_TYPE'], axis=1)

In [54]:
df.head()

,STREET_ADDRESS,CITY,STATE,POSTAL_CODE,COUNTRY,ADDRESS,location,point,latitude,longitude,altitude
0,1241 BOYLSTON ST,BOSTON,Massachusetts,02215-3501,USA,1241 BOYLSTON ST BOSTON Massachusetts 02215-3501,"(1241, Boylston Street, Back Bay, Boston, Suff...","(42.34552821297594, -71.09461423853004, 0.0)",42.345528,-71.094614,0.0
1,1975 MAIN ST,TEWKSBURY,Massachusetts,01876-2176,USA,1975 MAIN ST TEWKSBURY Massachusetts 01876-2176,"(Shell, 1975, Main Street, Tewksbury, Middlese...","(42.589596799999995, -71.20324205951535, 0.0)",42.589597,-71.203242,0.0
2,190 AMHERST ST,NASHUA,New Hampshire,03064-1307,USA,190 AMHERST ST NASHUA New Hampshire 03064-1307,"(Shell, 190, Amherst Street, Ward 4, Nashua, H...","(42.77498, -71.49009239500761, 0.0)",42.774980,-71.490092,0.0
3,915 WALTHAM ST,LEXINGTON,Massachusetts,02421-8001,USA,915 WALTHAM ST LEXINGTON Massachusetts 02421-8001,"(Waltham Street, Lexington, Middlesex County, ...","(42.43816, -71.234585, 0.0)",42.438160,-71.234585,0.0
4,245 EDDY RD,MANCHESTER,New Hampshire,03102-3232,USA,245 EDDY RD MANCHESTER New Hampshire 03102-3232,"(245, Eddy Road, Rimmon Heights, Manchester, H...","(43.00012675183454, -71.47616471175226, 0.0)",43.000127,-71.476165,0.0

In [55]:
df.to_csv('2.data.csv')